rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow anyone to read (but not list) from `recommendations`, but do not allow writes.
    match /recommendations/{document=**} {
      allow get: if true;
      allow list: if false;
      allow write: if false;
    }

    match /devices/{userid}/notif_subs/{document=**} {
    	allow get: if true;
      allow list: if true;
      allow write: if true;
    }
    
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
