rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow anyone to create or read a `recommendations` document, but do not allow modifications of existing documents.
    match /recommendations/{document=**} {
      allow create, read: if true;
      allow update, delete: if false;
    }
    
    match /{document=**} {
      allow read, write: if false;
    }
  }
}