@import url('https://fonts.googleapis.com/css2?family=Redacted&family=Unbounded:wght@700&display=swap');

.root {
    color: #0D0D1C;
    margin: auto;
    padding: 3em;
    max-width: 700px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 600px) {
    .root {
        font-size: 16px;
        padding: 1.5em;
    }
}

/* HEADER */

.header {
    margin-bottom: 3em;
}

.header h1 {
    font-family: 'Unbounded', sans-serif;
    font-size: 5em;
    font-weight: 700;
    color: orange;
    margin-bottom: 0;
} 

.header h2 {
    font-size: 1.25em;
    font-weight: 500;   
    opacity: 0.5;
}

.actionButtons {
    font-size: 1.3em;
    margin-top: 1.2em;
    margin-left: -0.5em;
    margin-right: -0.5em;
}

.actionButtons > * {
    margin: 0.3em;
}

.footer {
    opacity: 0.5;
}

.footer a {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .root h1 {
        font-size: 2.2em;
    }
    .actionButtons {
        font-size: 1em;
    }
    .header {
        text-align: center;
    }
}

/* SUBSCRIPTION ROWS */

.grid {
    margin: -1em;
    margin-bottom: 2em;
}
